<a href="/">Home</a>

<div class="jumbotron">
    <h1>@ViewBag.Movie.Title (@ViewBag.Movie.Year)</h1>
    <p>
        @foreach (var genreItem in ViewBag.Movie.Genres)
        {
            <span class="badge">@genreItem.MovieGenre.Name</span>
        }

    </p>
</div>

<form action="/add_genre/@ViewBag.Movie.MovieId" method="post">
    <select name="GenreId">
        @foreach(var genre in ViewBag.Genres)
        {
            <option value="@genre.GenreId">@genre.Name</option>
        }
    </select>
    <input type="submit" value="Add Genre" />
</form>

<form action="/review" method="post">
    <input type="hidden" name="MovieId" value="@ViewBag.Movie.MovieId" />
    <label>Your Name:</label>
    <input type="text" name="Name" />
    <label># of Stars</label>
    <select name="Rating">
        <option value="5">&starf;&starf;&starf;&starf;&starf;</option>
        <option value="4">&starf;&starf;&starf;&starf;</option>
        <option selected="selected" value="3">&starf;&starf;&starf;</option>
        <option value="2">&starf;&starf;</option>
        <option value="1">&starf;</option>
    </select>
    <label>Comment</label><br>
    <textarea name="Comment"></textarea>
    <input type="submit" />
</form>

@foreach(Review review in @ViewBag.Movie.Reviews)
{
    <div class="well">
        <p>@review.Rating</p>
        <p>@review.Name</p>
        <p>@review.Comment</p>
        <p>@review.MovieId</p>
    </div>
}